
body{

    background-image: url("image/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    

}
@media (max-width:600px) {
    body{

        background-image: url("image/bg.jpg");
        background-size: inherit;
        background-repeat: no-repeat;
        
    
    }

    .img{

        margin-top: 30%;
        width: 300px;
    }
    
}

.reverteLado{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    bottom: 0px;

    background-color: #ffffffda;
    opacity: 0.8;
    padding: 2%;
    border-radius: 10px;
    width: 250px;
}

.vida{
    float: left;
}

.cronometro{

    font-size: 20px;
}

html{
    cursor: url('image/mata_mosquito.png') 30 30, auto;
}